* {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  font-family: 'Tisa Pro', serif;
  color: #5c5c5c;
}

.brand {
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5c5c5c;
  margin-bottom: 20px;
}

.line-chart {
  float: right;
  margin: 30px 40px;
  width: 50%;
}

.line-chart .chart {
  width: 100%;
  height: 300px;
}

.slider-input, .slider-input-dragging {
  cursor: ew-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.slider-input {
  display: inline-block;
  border-bottom: 2px dotted #5c5c5c;
}